# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Library directory (contains FreeGLUT, GLEW, SOIL etc.)
lib/
build/
bin/

# Visual Studio gubbins
*.sln
*.sdf
*.sdf.*
*.suo
*.ilk
*.tlog
*.filters
*.user
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.ipch
*.opensdf
*.manifest
*.cache


*-demo/*.glsl
Debug/*
Release/*

*.pdb

# Executables
*.exe


*.bmp
*.prt*
